version: '3'
services:
  back:
#    build:
#      dockerfile: ./Dockerfile
#      args:
#        - DB_PASSWORD=kASe1QkIm5xQUZMF7cXo5000
#        - DB_USER=admin
#        - PROFILE=dev
#        - SPRING_DATASOURCE_URL=jdbc:mysql://poc.cy57hfox1fy1.us-east-1.rds.amazonaws.com:3306/poc?useUnicode=true&characterEncoding=utf8&useSSL=true&allowPublicKeyRetrieval=true&useTimezone=true&serverTimezone=UTC
#    image: "poc-back:latest"
    image: "equiperocket/poc-back:latest"
    ports:
      - '8080:8080'
      - '5001:5000'
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://poc.cy57hfox1fy1.us-east-1.rds.amazonaws.com:3306/poc?useUnicode=true&characterEncoding=utf8&useSSL=true&allowPublicKeyRetrieval=true
      - ARGS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5000 -Xmx1G -Xms128m -XX:MaxMetaspaceSize=128m
      - PROFILE=dev
      - DB_PASSWORD=kASe1QkIm5xQUZMF7cXo5000
      - DB_USER=admin
      - AUTH_USER=keycloak_user
      - AUTH_PASS=keycloak_pass
  front:
    image: "equiperocket/front-end-mvp:latest"
    ports:
      - '80:5000'
