version: '3'
services:
  app:
#    build:
#      context: ./
#      dockerfile: ./Dockerfile
#      args:
#        network: host
    image: "h2smd/poc:v0_0_2"
    ports:
      - '8080:8080'
      - '5000:5000'
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://poc.cy57hfox1fy1.us-east-1.rds.amazonaws.com:3306/poc?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
      - ARGS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5000 -Xmx1G -Xms128m -XX:MaxMetaspaceSize=128m
      - PROFILE=dev